@{
    ViewData["Controller"] = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    ViewData["Action"] = ViewContext.RouteData.Values["Action"].ToString().ToLower();

}
    <div class="list-group list-group-flush">
        <secure-content asp-area="" asp-controller="CentroEducativoes" asp-action="Index">
            <a asp-action="Index" asp-controller="CentroEducativoes" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "centroeducativoes"? "active": "")">
                <i class="fas fa-building mr-3"></i>Centros Educativos
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Distritoes" asp-action="Index">
            <a asp-action="Index" asp-controller="Distritoes" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "distritoes"? "active": "")">
                <i class="fas fa-table mr-3"></i>Distritos
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Bodegas" asp-action="Index">
            <a asp-action="Index" asp-controller="Bodegas" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "bodegas"? "active": "")">
                <i class="fas fa-box mr-3"></i>Bodegas
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Programacions" asp-action="Index">
            <a asp-action="Index" asp-controller="Programacions" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "programacions"? "active": "")">
                <i class="fas fa-calendar mr-3"></i>Programaci&oacute;n
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Productoes" asp-action="Index">
            <a asp-action="Index" asp-controller="Productoes" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "productoes"? "active": "")">
                <i class="fas fa-shopping-basket mr-3"></i>Productos
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Racions" asp-action="Index">
            <a asp-action="Index" asp-controller="Racions" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "racions"? "active": "")">
                <i class="fas fa-list mr-3"></i>Raciones
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="WayBills" asp-action="Index">
            <a asp-action="Index" asp-controller="WayBills" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "waybills"? "active": "")">
                <i class="fas fa-file-invoice mr-3"></i>WayBill
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Remesas" asp-action="Index">
            <a asp-action="Index" asp-controller="Remesas" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "remesas"? "active": "")">
                <i class="fas fa-archive mr-3"></i>Remesas
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Focalizacions" asp-action="Index">
            <a asp-action="Index" asp-controller="Focalizacions" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "focalizacions"? "active": "")">
                <i class="fas fa-archive mr-3"></i>Focalizaci&oacute;n
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="SubOficinas" asp-action="Index">
            <a asp-action="Index" asp-controller="SubOficinas" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "suboficinas"? "active": "")">
                <i class="fas fa-business-time mr-3"></i>Sub-Oficinas
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Zonas" asp-action="Index">
            <a asp-action="Index" asp-controller="Zonas" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "zonas"? "active": "")">
                <i class="fas fa-map-marked mr-3"></i>Zonas
            </a>
        </secure-content>
        <secure-content asp-area="" asp-controller="Embalajes" asp-action="Index">
            <a asp-action="Index" asp-controller="Embalajes" class="list-group-item waves-effect @(ViewData["Controller"].ToString() == "embalajes"? "active": "")">
                <i class="fas fa-boxes mr-3"></i>Embalajes
            </a>
        </secure-content>
    </div>