@model IEnumerable<ApplicationRole>

@{
    ViewData["Title"] = "Mantenimiento de Roles";
    ViewData["controller"] = "Role";
}

@section header{

    <link href="~/lib/datatables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<body>
    <div class="mb-3 wow fadeIn">
        <!--Card content-->
        <div class="d-sm-flex justify-content-between">
            <h4 class="mb-sm-0 pt-1">

                <span>@ViewData["Title"]</span>
            </h4>
            <form class="d-flex justify-content-center">
                <!-- Default input -->
                <secure-content asp-area="" asp-controller="@ViewData["controller"]" asp-action="Create">
                    <a class="btn btn-primary" asp-action="Create">Nuevo @ViewData["controller"]</a>
                </secure-content>
            </form>
        </div>
    </div>


    <table class="table table-striped table-hover table-bordered table-sm dt-responsive nowrap" id="datatable">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(m => m.Name) </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => role.Name)</td>
                    <td>
                        <secure-content asp-area="" asp-controller="Role" asp-action="Edit">
                        <a asp-action="Edit" asp-route-id="@role.Id">Editar</a>
                        </secure-content>|
                        <secure-content asp-area="" asp-controller="Role" asp-action="Delete">
                        <a asp-action="Delete" asp-route-id="@role.Id" class="delete-item">Eliminar</a>
                        </secure-content>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
@section scripts {
    <script src="~/lib/materialdesign/js/addons/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#datatable').DataTable();
            $('.dataTables_length').addClass('bs-select');
        });

        $('.delete-item').click(function (e) {
            confirm("Are you sure want delete this role ?");
            e.preventDefault();
            var anchor = $(this);
            var url = $(anchor).attr('href');
            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                processData: false,
                type: 'DELETE',
                url: url,
                success: function () {
                    $(anchor).parent('td').parent('tr').fadeOut('slow',
                        function () {
                            $(this).remove();
                        });

                },
                error: function (xmlHttpRequest, textStatus, errorThrown) {
                    let message = `${textStatus} ${xmlHttpRequest.status} ${errorThrown}`;
                    if (xmlHttpRequest.responseText != null) {
                        const response = JSON.parse(xmlHttpRequest.responseText);
                        for (var error of response["Error"]) {
                            message += `\n${error}`;
                        }
                    }

                    alert(message);
                }
            });
        });
    </script>
}
