@model prjbase.Models.ProgramacionCentroEducativo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ProgramacionCentroEducativo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ninos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ninos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ninas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ninas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCentroEducativoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCentroEducativoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProgramacionNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProgramacionNavigation.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Guardar</a> |
    <a class="btn btn-orange" asp-action="Index">Regresar</a>
</div>
